
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LoginLayout.cshtml";
}
<br />
<br />
<a href='@Url.Action("Index", "Home")' title="Click to this button." style="color:olive; font-size: 50px">CLICK</a>
<br />
<br />
<h1 style="color:white">You are redirecting to the home page...</h1>

